<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <div class="navbar-fixed">  
    <nav>
      <div class="nav-wrapper">
        <a id="logo" class="brand-logo swap left" href="/ ">4 People 1 Story</a>
        <ul id="nav-bar" class="right hide-on-med-and-down">
          <li><a id="logout" href="#">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container" id="maincontainer">
    <div class="row">

      <!-- Side Bar Nav -->
      {{#with loggedUser}}

      <div class="col s12 m4 l3">
        
        <div class="row valign-wrapper">  
          <div class="col s12">
            <ul class="links">
              <!-- Link for User to create New Post-->
              <li><a class="toPosts" href="/">New Post</a></li>

              <!-- Link for User to create New Story-->
              <li><a class="toStories" href="/">New Story</a></li>

              <!-- Link for User's Archived List of Stories-->
              <li><a class="toArchived" href="/archive">Archive</a></li>
            </ul>  
          </div>
        </div>                
      </div>      

      <!-- Main Column -->
      <div class="col s12 m8 l9">
        <!-- Welcome back message -->
        <div class="row">
          <div class="col s12">
            <div id="username">
              <h2> Welcome Back {{userName}}!</h2>
            </div>
          </div>    
        </div>

        <hr>
        
        {{/with}}       

        <!-- Urban Dictionary API -->
        <div class="row">
          <div class="col s12 urban-dictionary-container">
            <div id="urban">
            </div>  
          </div>
        </div>     

        <!-- table of currently active stories -->
        <div class="row">
          <div class="col s12">

            {{#each userStories}}
            {{#unless archived}}
            <div class="row">
              <div class="col s12 current-stories-container">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">{{this.title}}</span>
                    <p><span class="first-story-post">{{this.post}}</span></p>
                  </div>    
                  <div class="card-action">
                    <a class="" href="">Post</a>
                  </div> 
                </div>   
              </div>
            </div> 
            {{/unless}}
            {{/each}}

          </div>
        </div>  

        <hr>
        
        <!-- popular stories -->
        <div class="row">
          <div class="col s12">
            {{#each allStories}}
            {{#unless archived}}
            <div class="row">
              <div class="col s12 current-stories-container">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">{{story_title}}</span>
                    <p><span class="first-story-post">{{post}}</span></p>
                  </div>    
                  <div class="card-action">
                    <a class="" href="">View</a>
                  </div> 
                </div>   
              </div>
            </div> 
            {{/unless}}
            {{/each}}
            
          </div>
        </div>
        
      </div>
    </div> 
  </div> 


<!--Import jQuery-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--Import Materialize--> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!--Import js-->
<script type="text/javascript" src="/js/app.js"></script>      
</body>
</html>