<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <!-- Navbar -->
  <div class="navbar-fixed">  
    <nav>
      <div class="nav-wrapper cyan darken-2">
        <a id="logo" class="brand-logo center white-text" href="/"><img id="logo-img" class="responsive-img" src="./assets/images/book.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse white-text"><i class="material-icons">person</i></a>
        <!-- Links show on desktop -->
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" id="logout" href="/" >Logout</a></li>  
        </ul>      
      </div>
    </nav>
  </div>
  <!-- Navbar Links That Appear on Mobile Devices...outside of navbar-fixed to avoid nesting issues-->
  <div>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="black-text" id="logout" href="/" >Logout</a></li>
    </ul>    
  </div>    

  <div class="row">

    <!-- Side Nav -->
    <div class="col s12 m4 l3">
      <ul id="slide-out" class="side-nav fixed blue-grey lighten-4">
        <!-- Link for User to create New Story-->
        <li><a id="toStories black-text" href="/story">New Story</a></li>
        <!-- Link for User's Archived List of Stories-->
        <li><a id="toArchived black-text" href="/"{{!--  role="button" --}}>Archive</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>  
    </div>     

    <!-- Main Column -->
    <div class="col s12 m8 l9">
      <!-- Welcome back message -->
      <div class="row">
        <div class="col s12">
          <div id="username">
            <h2> Welcome Back {{userName}}!</h2>
          </div>
        </div>    
      </div>

      <hr>

      <!-- Urban Dictionary API -->
      <div class="row">
        <div class="col s12 urban-dictionary-container">
          <div class="containerd">
            <div id="urban-inspirate">
              <p class="plot">We know that starting to write a story might be a little bit overwhelming, so we would like to inspire you, by providing you a quick plot generator!</p>
              <p class="name">Your 4 People 1 Story Team
  
              </p>
            </div>
            <button id="load-urban">Covfefe Me!</button>
          </div>
        </div>
      </div>     

      <!-- table of currently active stories -->
      <div class="row">
        <div class="col s12">
          {{#each stories}}
          {{!-- {{#unless archived}} --}}
          <div class="row">
            <div class="col s12 current-stories-container">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">{{this.storyName}}</span>
                  <p><span class="first-story-post">{{this.firstPost}}</span></p>
                </div>    
                <div class="card-action">
                  <a id="post-selector" href="#" role="button" data-id="{{this.storyId}}">Post</a>
                </div> 
              </div>   
            </div>
          </div> 
          {{!-- {{/unless}} --}}
          {{/each}}

        </div>
      </div>  

      <hr>
      
      <!-- popular stories -->
{{!--       <div class="row">
        <div class="col s12">
          {{#each allStoriesArray}}
          <div class="row">
            <div class="col s12 current-stories-container">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">{{this.story_title}}</span>
                  <p><span class="first-story-post">{{this.post}}</span></p>
                </div>    
                <div class="card-action">
                  <a class="" href="">View</a>
                </div> 
              </div>   
            </div>
          </div> 
          {{/each}} --}}
          
        </div>
      </div>
    </div>
  </div> 


<!--Import jQuery-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--Import Materialize--> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!--Import js-->
<script type="text/javascript" src="./assets/js/materialize.js"></script> 

<script type="text/javascript" src="./assets/js/cms.js"></script>           
</body>
</html>